body, html {
      margin: 0;
      padding: 0;
      top: 0;

}

/* html {
      scroll-behavior: smooth;
} */

::-webkit-scrollbar {
      display: none;
}



/* Navigation */

.nav-bar {
      overflow: hidden;
      display: block;
      top: 0;
      width: 100vw;
      position: fixed;
      background-color: #2e2e2e;
      z-index: 99999;
      top: 0;

}

.nav-bar-left ul {
      float: left;
      display: flex;
      margin: 0;
}

.nav-bar-right ul {
      float: right;
      display: flex;
      margin: 0;
}

.nav-bar-left li, .nav-bar-right li {
      list-style-type: none;
}

.nav-bar-left a, .nav-bar-right a {
      display: block;
      font-family: 'Aleo', serif;
      color: #ffffff;
      text-decoration: none;
      padding: 14px 16px;
      text-align: center;

}

.nav-bar a:hover {
      background-color: #aaaaaa;
      text-decoration: none;
      color: #000;

}

/* ############################################ */

.launch {
      width: 100%;
      height: 100vh;
      background-color: #ab6262;
}

.about {
      padding-top: 15vh;
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
}

.left {
      /* display: block; */
      float: left;
      width: 50%;
      height: auto;
}

.col-sm-6 img {
      /* padding: 10px 5%; */
      /* float: left; */
      /* display: block; */
      display: flex;
      width: 60%;
      margin: auto;
}

.right {
      float: right;
      width: 50%;
      height: auto;
      text-align: center;
}

.col-sm-6 p {
      font-family: 'Aleo', serif;
      padding: 20vh 5vh;
      font-size: 18px;
}

/* Bootstrap 3 requires custom css to remove row gutters */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.portfolio {

      width: 100%;
      height: 100vh;
      background-color: #ffffff;

}

.portfolio {
      /* justify-content: center; */
      width: 100vw;
      height: 100vh;
}

.gallery {
      /* background-color: #70b6b6; */
      width: 60vw;
      /* height: 100vh; */
      margin-left: auto;
      margin-right: auto;
}

@media (max-width: 1500px) {
      .gallery {
            width: 70vw;
      }
}

.galleryimg img {
      width: 100%;
      height: 100%;
      margin: 15px 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.more-button {
      clear: both;
      text-align: center;
      padding-top: 10vh;
}

.more-button button {
      font-family: 'Aleo', serif;
      border: none;
      color: #000;
      padding: 15px 30px;
      font-weight: bold;
}

.contact {
      
      width: 100%;
      height: 100vh;
      background-color: #7e1a1a;
}
